.itemLabel {
    padding-right: 10px;
}

.itemInput {
    display: block;
    max-width: 95%;
    padding: 5px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.inputWrapper {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.swatchPicker {
    min-width: 169px;
    height: 27px;
    margin-right: 2px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    borderRadius: 1px;
    boxShadow: 0 0 0 1px rgba(0, 0, 0, .1);
    display: inline-block;
    cursor: pointer;
}

.cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.popover {
    position: absolute;
    zIndex: 2;
}
