.wrapper {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

.footer,
.head-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    height: 50px;
    color: #44200c;
    text-align: center;
    font-size: 24px;
}

input:active {
    border: 1px solid #ced4da;
}

button {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 1000px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:disabled {
    color: #b7acac;
    background: #bf80b7;
}

button:disabled:hover {
    color: #b7acac;
    background: #bf80b7;
    border-color: #17a2b8;
}

button:hover, button:active, button:focus {
    color: #fff;
    background-color: #0d5762;
    border-color: #117a8b;
    outline: none;
}

.main-field-btn {
    height: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer {
    background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
}
