.field {
    padding: 10px;
    background: #58c6c7;
    min-width: 90%;
    margin: 5px 0;
}

.field:last-child {
    margin-bottom: 0;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
}
